---
name: docker.io

on:
  workflow_dispatch: {}

  push:
    branches:
      - main

  schedule:
    - cron: 0 0 * * 0

jobs:
  dockerhub:
    runs-on: ubuntu-latest

    env:
      CONTAINER_REGISTRY: docker.io
      CONTAINER_REPOSITORY: andreswebs/openssl

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            latest=true
            prefix=
            suffix=
          tags: |
            type=sha
            type=sha,format=long
          images: |
            ${{ env.CONTAINER_REGISTRY }}/${{ env.CONTAINER_REPOSITORY }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
