---
name: public.ecr.aws

permissions:
  id-token: write

on:
  workflow_dispatch: {}

  push:
    branches:
      - main

  schedule:
    - cron: 0 0 * * 0

jobs:
  ecr-public:
    runs-on: ubuntu-latest

    env:
      CONTAINER_REGISTRY: public.ecr.aws
      CONTAINER_REPOSITORY: andreswebs/openssl

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            latest=true
            prefix=
            suffix=
          tags: |
            type=sha
            type=sha,format=long
          images: |
            ${{ env.CONTAINER_REGISTRY }}/${{ env.CONTAINER_REPOSITORY }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ vars.AWS_IAM_ROLE_ARN }}

      - name: Login to Public ECR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
